DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
GOOGLE_ID=
GOOGLE_SECRET=
AWS_S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
QDRANT_COLLECTION_NAME=
GOOGLE_API_KEY=
EMBEDDING_MODEL=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOSTNAME=
REDIS_PORT=
QDRANT_URL=
QDRANT_APIKEY=
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=