name: Deploying Web

on:
  push:
    branches: [master]
    paths:
      - "apps/web/**"
      - "packages/ui/**"
      - "packages/common/**"
      - "packages/tailwind-config/**"
      - "docker/Dockerfile.web"
      - ".github/workflows/web.yml"
      - "scripts/deploy/deploy-web.sh"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile.web
          push: true
          tags: saicharith2012/brain-cache-web:${{github.sha}}
          build-args: |
            DATABASE_URL=postgresql://dummy:dummy@localhost:5432/dummy

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USER}}
          key: ${{secrets.SERVER_SSH_KEY}}
          script: |
            IMAGE_URI=saicharith2012/brain-cache-web:${{github.sha}} \
            bash -s < scripts/deploy/deploy-web.sh
